@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  height: 100vh;
}


::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: transparent; 
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  @apply bg-gradient-to-b from-purple-500 to-pink-500; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.input {
    @apply focus:outline-pink-500 focus:bg-white focus:text-gray-500 bg-gray-100 rounded-lg p-2 text-gray-500;
}